<div class="card">
  <div class="card-header">
    Listado de vehículos en parqueadero
  </div>

  <table class="table" *ngIf="vehiculosEnParqueadero?.length >0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Placa</th>
          <th scope="col">Tipo vehículo</th>
          <th scope="col">Fecha ingreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculoParqueadero of vehiculosEnParqueadero; let i = index" class="registro">
          <th scope="row">{{i + 1}}</th>
          <td id="placa_{{vehiculoParqueadero.placa}}" >{{vehiculoParqueadero.placa}}</td>
          <td id="tipoVehiculo_{{vehiculoParqueadero.placa}}">{{vehiculoParqueadero.tipoVehiculo}}</td>
          <td id="fechaIngreso_{{vehiculoParqueadero.placa}}">{{vehiculoParqueadero.fechaIngreso | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
        </tr>
      </tbody>
    </table>
</div>